[Unit]
Description=Izatabi Next.js Frontend Client
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/nakahara/develop/03_ai_agent_hackathon_app
Environment=NODE_ENV=production
ExecStart=node izatabi-proxy.js
Restart=on-failure

[Install]
WantedBy=default.target
